<p>
    This component's @nameof(Id) is @Id, and its @nameof(Name) is @Name.
</p>
<div class="app" style="color: blue">
    <span>9 + 10 = @(9+10+2)</span>
</div>
<p>
    This component was designed using Visual Studio's built-in Razor editor, and rendered with its parameters added in code.
</p>

@code{
    [Parameter]
    public int Id { get; set; }
    [Parameter]
    public string? Name { get; set; }
}